<div class="row">
    <ul class="ds-btn">
        <li>
             <a class="btn btn-sm " id="Issues" href="./#/issues" >
          <i class=" glyphicon glyphicon-bullhorn pull-left"></i><span>Issues<br></span></a> 
            
        </li>
        <li>
             <a class="btn btn-sm" id="Events" href="./#/events" >
          <i class="glyphicon glyphicon-bell pull-left"></i><span>Events<br></span></a> 
            
        </li>
        <li>
             <a class="btn btn-sm btn-info" id="Services" href="./#/services" >
         <i class="glyphicon glyphicon-globe pull-left"></i><span>Services<br></span></a> 
            
        </li>
    </ul>
   
</div>
<div class="row">
Services
</div>